@model IEnumerable<CarEntities.CarDetail>
@{
    Layout = null;
}
<ul style="list-style:none">
    @foreach (var obj in Model)
    {
        <li>
            <table border="1">
                <tr><td rowspan="3"><img src="/Content/images/@obj.ImageUri" width="100" height="100" /></td><td colspan="3"> @obj.Make @obj.Model @obj.Version</td></tr>
                <tr><td>@obj.Price</td><td colspan="2">@obj.City</td></tr>
                <tr><td>@obj.Kilometer</td><td>@obj.FuelType</td><td>@obj.Year</td></tr>
            </table>
        </li>
    }
</ul>

