@using PagedList;
@using PagedList.Mvc;

@model IEnumerable<UsedCarEntities.UsedCarModel>
@{
    Layout = null;
}
<table border="0" style="padding:10px;">
@if (Model.Count() > 0)
{
    foreach (var obj in Model)
    {

        string[] substrings = obj.ImgUri.Split(';');
        <tr><td rowspan="3"><a href="./carprofile/@obj.Id"><img src="@substrings.ElementAt(0)" width="200" height="100" /></a></td><td colspan="3"><a href="./carprofile/@obj.Id"> @obj.Make @obj.Model @obj.Version</a></td></tr>
        <tr><td>&#8377 @obj.Price</td><td colspan="2">@obj.City</td></tr>
        <tr><td>@obj.Kilometer Km</td><td>@obj.FuelType</td><td>@obj.Year</td></tr>


    }
}
else
{
    <tr><td><h3>Sorry, no cars found matching your criteria.</h3></td></tr>
}
    
</table>

            

