@using PagedList;
@using PagedList.Mvc;

@model IPagedList<UsedCarEntities.UsedCarModel>
@{
    Layout = null;
}
<table border="0" style="padding:10px;">
@if (Model.Count() > 0)
{
    foreach (var obj in Model)
    {


        <tr><td rowspan="3"><a href="./CarProfile/@obj.Id"><img src="/Content/images/@obj.ImgUri" width="200" height="120" /></a></td><td colspan="3"><a href="./CarProfile/@obj.Id"> @obj.Make @obj.Model @obj.Version</a></td></tr>
        <tr><td>&#8377 @obj.Price</td><td colspan="2">@obj.City</td></tr>
        <tr><td>@obj.Kilometer Km</td><td>@obj.FuelType</td><td>@obj.Year</td></tr>


    }
}
else
{
    <tr><td><h3>Sorry, no cars found matching your criteria.</h3></td></tr>
}
    
</table>
@Html.PagedListPager(Model, page => Url.Action("All", new { page}))
<script>
    $(document).ready(function () { 
    $('.pagination').each(function () {
        $(this).children().css("display", "none");;
    });
    $('.PagedList-skipToPrevious').each(function () {
        $(this).css("display", "block");
        $(this).children().html("<button>prev</button>");
    });
    $('.PagedList-skipToNext').each(function () {
        $(this).css("display", "block");
        $(this).children().html("<button>next</button>");
    });
    });
</script>
            

